streamlit
joblib
pandas
numpy
scikit-learn # Replace sklearn with a compatible version
xgboost
setuptools>=65.5.1
scipy
matplotlib
plotly
flask
gunicorn
PyPDF2
langchain
langchain-google-genai
faiss-cpu
python-dotenv
google-generativeai
sounddevice 
whisper 
gTTS==2.2.4 

