streamlit==1.40.1
joblib
pandas
numpy
scikit-learn==1.2.2  # Replace sklearn with a compatible version
xgboost
setuptools>=65.5.1
scipy
matplotlib
plotly
flask
gunicorn
PyPDF2
langchain
langchain-google-genai
faiss-cpu
python-dotenv
google-generativeai
