streamlit==1.40.1
joblib
pandas
numpy
sklearn
xgboost
setuptools>=65.5.1  # Ensure setuptools is updated to avoid distutils issues
scipy
matplotlib
plotly
flask
gunicorn
PyPDF2
langchain
langchain-google-genai
faiss-cpu
python-dotenv
google-generativeai
